<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>

      <!--<sessionState mode="InProc" ></sessionState>-->
      
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>



  
  <!--<pages>
  <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.5.1, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    --><!--<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />--><!--
    --><!--<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />--><!--
  </controls>
</pages>-->  
  
<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>


<connectionStrings>


    <add name="shopping"
         connectionString="Data Source=DESKTOP-MH;Initial Catalog=shopping;Integrated Security=True"
         providerName="System.Data.SqlClient"/>

  </connectionStrings>

</configuration>
